.card {
  width: 200px;
  height: 320px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  background-color: black;
  .cardImage {
    width: 200px;
  }
  .cardLink {
    width: 200px;
    color: white;

    padding: 20px;
    text-align: center;
    background-color: #a47dd6;
  }
}
